body{
	background-color: #f2f2f2;
}

.box{
	width: 1200px;
	margin: 0 auto;
}

.header{
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	background-color: #81CDC9;
}

.header ul{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 40px;
	font-size: 16px;
}

.header .title{
	font-size: 22px;
}

.banner img{
	width: 100%;
}

.content .items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}

.content .item{
	width: 24.5%;
	margin-bottom: 20px;
}

.content .item img{
	width: 100%;
	height: 240px;
	margin-bottom: 10px;
}

.footer{
	margin-top: 10px;
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	background-color: #96BCE0;
	text-align: center;
}